/* Basic styling for the blank blueprint. */
/* Feel free to remove this and apply your own styles. */

@import 'https://a.storyblok.com/f/212319/x/e6ccda03b8/blueprint-blank.css';

.links-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.fancy-link {
	position: relative;
	color: #54b3d6;
	font-family: 'Poppins', sans-serif;
	font-size: 48px;
	font-weight: 700;
	line-height: 1.5;
	text-decoration: none;
	padding: 0 0.5rem;
	margin: 0 -0.5rem;
	box-shadow: inset 0 0 0 0 #54b3d6;
	transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.fancy-link:hover {
	color: #fff;
	box-shadow: inset 200px 0 0 0 #54b3d6;
}
